<!DOCTYPE html>
<html lang="ja">
<head>
	<title>昼キャリ</title>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" >
	<meta property="og:title" content="昼キャリ｜夜職を卒業したいあなたのための転職エージェント">
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://hiru-career.com/lp/001/" />
	<meta name="description" content="昼キャリ"/>
    <meta property="og:description" content="昼キャリを活用して、昼職で働いてみませんか？水商売などの夜職勤務や、高卒フリーターなどの経歴ハンデを持つ方の支援に特化した転職エージェントです。営業職・飲食店・ホテルなど、これまでの経験を活かし、輝ける職場をご紹介いたします。"/>
	<meta property="og:image" content="http://hiru-career.com/lp/001/public/images/ogp.jpg">

	<link rel="stylesheet" href="public/css/style.css">
	<link rel="shortcut icon" type="image/png" href="/lp/001/public/images/favicon.png"/>
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap" rel="stylesheet">
</head>
<body id="js-top">
	<%- include('partials/header'); %>

	<main class="l-index">
		<div class="hero" id="js-hero">
			<div class="hero__overlay"></div>
			<p class="hero__tagline" id="js-hero-tagline">夜職を卒業したいなら断然、</p>
			<h1 class="hero__title" id="js-hero-title">昼キャリ!</h1>
			<p class="hero__description" id="js-hero-description">
				営業・受付・事務 etc…<br>
				様々な職種への転職相談所
			</p>
		</div>
		<section class="l-index__qna" id="js-qna-section">
			<div class="l-container">
				<%- include('partials/qna'); %>
			</div>
		</section>
		<section class="l-index__info">
			<div class="l-index__info-decors"></div>
			<div class="l-container">
				<%- include('partials/info'); %>
				<%- include('partials/staff'); %>
			</div>
		</section>
		<aside class="l-index__contact">
			<div class="l-container">
				<%- include('partials/contact'); %>
			</div>
		</aside>
		<section class="l-index__qualities js-fadein">
			<div class="l-index__qualities-decors"></div>
			<div class="l-container">
				<%- include('partials/qualities'); %>
			</div>
		</section>
		<section class="l-index__consultant">
			<div class="l-container">
				<%- include('partials/consultant'); %>
			</div>
		</section>
		<section class="l-index__steps">
			<div class="l-index__steps-overlay"></div>
			<div class="l-index__steps-decors js-fadein"></div>
			<div class="l-container">
				<%- include('partials/steps'); %>
			</div>
		</section>
		<section class="l-index__testimonies">
			<div class="l-index__testimonies-decors"></div>
			<div class="l-container">
				<%- include('partials/testimonies'); %>
			</div>
		</section>
		<aside class="l-index__contact l-index__contact--bottom">
			<div class="l-container">
				<%- include('partials/contact'); %>
			</div>
		</aside>
	</main>
	
	<footer class="footer">
		<a class="footer__link js-scroll" href="#js-top"></a>
	</footer>
	<script type="text/javascript" src="public/js/app.js"></script>
</body>
</html>