<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" >
	<title>Hiru-Cyari</title>
	<link rel="stylesheet" href="public/css/style.css">

	<link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap" rel="stylesheet">
</head>
<body>
	<main class="l-index">
		<div class="hero">
			<div class="hero__overlay"></div>
			<p class="hero__tagline">夜職を卒業したいなら断然、</p>
			<h1 class="hero__title">昼キャリ!</h1>
			<p class="hero__description">
				営業・受付・事務 etc…<br>
				様々な職種への転職相談所
			</p>
		</div>
		<section class="l-index__qna js-fadein">
			<div class="l-container">
				<%- include('partials/qna'); %>
			</div>
		</section>
		<section class="l-index__info">
			<div class="l-container">
				<%- include('partials/info'); %>
				<%- include('partials/staff'); %>
			</div>
		</section>
		<aside class="l-index__contact">
			<div class="l-container">
				<%- include('partials/contact'); %>
			</div>
		</aside>
		<section class="l-index__qualities js-fadein">
			<div class="l-container">
				<%- include('partials/qualities'); %>
			</div>
		</section>
		<section class="l-index__consultant js-fadein">
			<div class="l-container">
				<%- include('partials/consultant'); %>
			</div>
		</section>
		<section class="l-index__steps">
			<div class="l-index__steps-overlay"></div>
			<div class="l-container">
				<%- include('partials/steps'); %>
			</div>
		</section>
		<section class="l-index__testimonies">
			<div class="l-container">
				<%- include('partials/testimonies'); %>
			</div>
		</section>
		<aside class="l-index__contact">
			<div class="l-container">
				<%- include('partials/contact'); %>
			</div>
		</aside>
	</main>
	<script type="text/javascript" src="public/js/app.js"></script>
</body>
</html>