<!DOCTYPE html>
<html lang="ja">
<head>
	<title>昼職転職サービスのご案内｜ホスドラ</title>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" >
	<meta property="og:title" content="昼職転職サービスのご案内｜ホスドラ">
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://host-draft.com/lp/tensyoku/" />
	<meta name="description" content="ホスドラでは人材紹介会社と提携し、昼職転職サービスを提供しています。学歴・経歴は不問です。将来に向けて一歩踏み出したいと考えている方、一人ひとりが活躍できる職場をご紹介するため、全力でサポートいたします。まずは一度、LINE登録にてお問い合わせください。"/>
    <meta property="og:description" content="ホスドラでは人材紹介会社と提携し、昼職転職サービスを提供しています。学歴・経歴は不問です。将来に向けて一歩踏み出したいと考えている方、一人ひとりが活躍できる職場をご紹介するため、全力でサポートいたします。まずは一度、LINE登録にてお問い合わせください。"/>
	<meta property="og:image" content="https://host-draft.com/lp/tensyoku/public/images/ogp.png">

	<link rel="stylesheet" href="/lp/tensyoku/public/css/style.css">
	<link rel="shortcut icon" type="image/png" href="/lp/tensyoku/public/images/favicon.png"/>
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap" rel="stylesheet">
</head>
<body id="js-top">
	<%- include('partials/header'); %>

	<main class="l-index">
		<div class="hero" id="js-hero">
			<div class="hero__overlay"></div>
			<div class="hero__content">
				<p class="hero__tagline" id="js-hero-tagline">ホスト・ボーイを卒業し、昼職に転職！</p>
				<h1 class="hero__title" id="js-hero-title">昼職転職<br>FOR ホスドラ</h1>
				<p class="hero__description" id="js-hero-description">
					不動産業界やIT業界、マーケティング会社などの様々な業界や職種が見つかる！<br>夜職人材に特化した昼職転職サービスです。
				</p>
			</div>
		</div>
		<section class="l-index__qna" id="js-qna-section">
			<div class="l-container">
				<%- include('partials/qna'); %>
			</div>
		</section>
		<section class="l-index__info">
			<div class="l-index__info-decors"></div>
			<div class="l-container">
				<%- include('partials/info'); %>
				<%- include('partials/staff'); %>
			</div>
		</section>
		<aside class="l-index__contact">
			<div class="l-container">
				<%- include('partials/contact'); %>
			</div>
		</aside>
		<section class="l-index__qualities js-fadein">
			<div class="l-index__qualities-decors"></div>
			<div class="l-container">
				<%- include('partials/qualities'); %>
			</div>
		</section>
		<section class="l-index__steps">
			<div class="l-index__steps-overlay"></div>
			<div class="l-index__steps-decors js-fadein"></div>
			<div class="l-container">
				<%- include('partials/steps'); %>
			</div>
		</section>
		<section class="l-index__testimonies">
			<div class="l-index__testimonies-decors"></div>
			<div class="l-container">
				<%- include('partials/testimonies'); %>
			</div>
		</section>
		<aside class="l-index__contact l-index__contact--bottom">
			<div class="l-container">
				<%- include('partials/contact'); %>
			</div>
		</aside>
	</main>
	
	<footer class="footer">
		<small>Copyright © ホスドラHD All rights reserved.</small>
		<a class="footer__link js-scroll" href="#js-top"></a>
	</footer>
	<script type="text/javascript" src="/lp/tensyoku/public/js/app.js"></script>
</body>
</html>